@import url('https://fonts.googleapis.com/css?family=Tomorrow&display=swap');

.overview-container {
    overflow-x: hidden;
}

/* .overview-container h6 {
    background-color: transparent;
    color: cadetblue;
    margin: 0;
} */

.overview-container input[type="submit"] {
    background-color: wheat;
    border: 1px solid cadetblue;
    color: cadetblue;
    padding: 2px 4px;
    font-weight: bolder;
}

.overview-container table {
    width: 100%;
    border-collapse:separate;
    border-spacing:0 15px;
}

.overview-container table th {
    width: 80%;
    padding: 5px 16px;
    background-color: cadetblue;
    color: white;
    border: 1px solid #004d40;
}

.overview-container table tr:nth-child(odd) th {
    background-color: #01579b;
}

.overview-container table td {
    width: 20%;
    text-align: center;
    padding: 5px 8px;
    border: 1px solid #004d40;
    background-color: #e0f2f1;
    font-weight: bolder;
    text-shadow: 1px 1px black;
    letter-spacing: 3px;
    font-family: 'Tomorrow', sans-serif;
}

.overview-container table tr:nth-child(odd) td {
    background-color: #e1f5fe;
}