.overview-info {
    padding: 5px;
}

.overview-info span {
    color: cadetblue;
    font-weight: bolder;
    letter-spacing: 1px;
    text-decoration: underline;
    font-size: 1.1em;
}

.leads-container {
    width: 100vw;
    overflow-x: scroll;
    margin: 0 auto;
}

.filter-pills {
    font-size: 0.6em;
    padding: 4px 8px;
}

.filter-pills span {
    display: inline-block;
    background-color: cadetblue;
    color: #fff;
    padding: 2px 8px;
    margin: 2px 4px;
    border-radius: 12px;
}

.filter-sl {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.filter-sl input, .filter-sl select {
    border-top: 3px inset #eee;
    border-left: 3px inset #eee;
    width: 150px;
    height: 30px;
}

.filter-sl button {
    background-color: cadetblue;
    color: #fff;
    border: 0;
    padding: 2px 6px;
}

/*leads table styling starts*/

#leads {
    overflow-x: scroll;
    height: calc(100% - 200px);
}

#leads thead {
    background-color: lightcoral;
    color: whitesmoke;
    font-size: 0.8em;
    text-align: center;
}

#leads thead tr th {
    border: 1px solid #aaa;
    padding: 10px 0px;
}

#leads tbody {
    font-size: 0.65em;
}

#leads tbody tr {
    cursor: pointer;
    text-align: center;
}

#leads tbody tr td {
    border: 1px solid antiquewhite;
    padding: 4px 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: fit-content; 
}

#leads tbody tr td:nth-child(1),
#leads tbody tr td:nth-child(2) {
    text-align: left;
}

#leads tbody tr td:nth-child(3) {
    text-align: right;
}

#leads tbody tr:nth-child(even) {
    background-color: #eee;
}

#leads tbody tr:nth-child(odd) {
    background-color: #fff;
}

#leads_info {
    display: none;
}

#leads_paginate {
    font-size: 0.6em;
}

#leads_filter {
    text-align: center;
    font-size: 0.7em;
    font-weight: bolder;
    color: cadetblue;
}

.hideth {
    display: none;
}

#leads tbody tr td:nth-child(5), 
/*#leads tbody tr td:nth-child(6), 
*/#leads tbody tr td:nth-child(7), 
#leads tbody tr td:nth-child(8), 
#leads tbody tr td:nth-child(9), 
#leads tbody tr td:nth-child(10), 
#leads tbody tr td:nth-child(11), 
#leads tbody tr td:nth-child(12), 
#leads tbody tr td:nth-child(13),
#leads tbody tr td:nth-child(14),
#leads tbody tr td:nth-child(15),
#leads tbody tr td:nth-child(16) {
    display: none;
}

.dataTables_empty {
    text-align: center !important;
}

/*leads table styling ends*/


/*lead info modal styling*/

.leadInfo {
    padding: 10px;
    width: 95%;
    height: 95%;
    overflow-y: scroll;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: whitesmoke;
    display: none;
}

.top-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name-on-modal {
    font-size: 0.7em;
}

.close-modal {
    font-size: 1.5em;
    color: crimson;
}

.leadInfo small {
    color: cadetblue;
    font-weight: bolder;
}

.leadInfo input[type="text"], input[type="tel"], .leadInfo select, textarea {
    border: 1px solid cadetblue;
    width: 100%;
    margin-bottom: 8px;
    background-color: whitesmoke;
    padding: 3px 2px;
}

.checkbox-container {
    padding: 16px 0;
}

.checkbox-container label {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.checkbox-container p {
    width: 100%;
    margin: 0;
}

.checkbox-container input {
    margin: 0;
}


.leadInfo button {
    width: 80%;
    background-color: cadetblue;
    color: wheat;
    border: 1px solid wheat;
    padding: 8px 4px;
}

.leadInfo #restore {
    background-color: crimson;
    color: wheat;
}

.feedback {
    font-size: 0.7em;
}

/*lead info modal styling*/
